body {
    background-color: lightblue;
}
h1{
    color: crimson;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.css-class {
    background-color: aquamarine;
}

#number-one {
    color: crimson;
}

.container {
    border: 5px solid black;
    margin-top: 25px;
    margin-right: 125px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.header {
    height: 80%;
    width: 100%;
}